<html>
<title>admin panel</title>
<body>
<form action="/admin" method="POST">
  <label for="fname">filename:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>